body{
    background-color:#f8f8f8;
    font-family: 'Playfair Display', serif;
}

.menu{
    list-style-type: none;
}
.menu a{
    color: palevioletred;
    font-size: 14px;
    text-decoration: none;
}

.menu a:hover{
    font-weight: bold;
}
h1 {
    color: violet;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    background-color: palevioletred;
    width: 30%;
    height: 2px;
}
.about-site{
text-align: center;
width: 50%;
margin: 40px auto;
font-size: 26px;
}
h2{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.short-info{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.long-info{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.list{
    color: purple;
    font-style: unset;
    list-style-type:georgian;
}
.dior{
    text-align: center;
    
}